{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">

    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">Total tasks</p>
                  <h5 class="font-weight-bolder mb-0">
                    {{ num_tasks }}
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                  <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">Completed tasks</p>
                  <h5 class="font-weight-bolder mb-0">
                    {{ completed_tasks }}
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                  <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">In progress tasks</p>
                  <h5 class="font-weight-bolder mb-0">
                    {{ in_progress_tasks }}
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                  <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">Overdue Tasks</p>
                  <h5 class="font-weight-bolder mb-0">
                    {{ overdue_tasks }}
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                  <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header pb-0">
        <h6>Upcoming Tasks</h6>
      </div>

      <div class="card-body px-0 pb-2">
        <div class="table-responsive">
          <table class="table align-items-center mb-0">
            <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Priority</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Task Type</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Deadline</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
            </tr>
            </thead>
            <tbody>
            {% if task_list %}
              {% for task in task_list %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        {{ task.name }}
                      </div>
                    </div>
                  </td>
                  <td>
                    {% if task.priority == "URGENT" %}
                      <span class="badge bg-gradient-danger">Urgent</span>

                    {% elif task.priority == "HIGH" %}
                      <span class="badge bg-gradient-warning">High</span>

                    {% elif task.priority == "MEDIUM" %}
                      <span class="badge bg-gradient-info">Medium</span>

                    {% else %}
                      <span class="badge bg-gradient-success">Low</span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-center text-sm">
                    {{ task.task_type }}
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{ task.deadline }}</span>
                  </td>
                  <td class="align-middle text-center text-sm">
                    {% if task.is_completed %}
                      <span class="badge bg-gradient-success">Completed</span>
                    {% else %}
                      <span class="badge bg-gradient-info">In Progress</span>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="5" class="text-center py-4">
                  No tasks found
                </td>
              </tr>
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
