{% extends "layouts/base.html" %}

{% block content %}
  <div class="container-fluid py-4">

    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Workers<a class="btn btn-primary" style="float: right" href="#">Add
              worker</a>
            </h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Username</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Full name</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Position
                  </th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tasks
                  </th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions
                  </th>
                </tr>
                </thead>
                <tbody>
                {% for worker in worker_list %}
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <a href="">{{ worker.username }}</a>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <a href="">{{ worker.get_full_name }}</a>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-center text-sm">
                      {{ worker.position }}
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">{{ worker.tasks.count }}</span>
                    </td>
                    <td class="align-middle text-center">
                      <a href=""
                         class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                         data-original-title="Edit user">
                        Update
                      </a>

                      <a href=""
                         class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                         data-original-title="Edit user">
                        Delete
                      </a>
                    </td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="5" class="text-center">
                      No workers found!
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
